<!-- Header Start -->
<header class="header">
    <div class="topbar">
        <div class="container">
            <div class="wrap_topbar">
                <div class="left_topbar">
                    <a href=""><i class="icon icon-hotro"></i>Hỗ trợ</a>
                    <a href=""><i class="icon icon-hotline"></i>Hotline: 036 5809 316</a>
                </div>
                <div class="right_topbar">
                    <a href="">Hướng dẫn cách làm treo nôi đơn giản cho bé tại nhà</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mainheader">
        <div class="container">
            <div class="wrap_mainheader">
                <div class="logo">
                    <img src="assets/images/logo.png" alt="" />
                </div>
                <div class="form-search">
                    <!-- <div class="form-search active"> -->
                    <!-- thêm class active khi nhập search -->
                    <form>
                        <input type="text" placeholder="Từ khoá, mã sản phẩm,...">
                        <button type="button" class="btn-search"><i class="icon icon-search"></i></button>
                    </form>
                    <div class="box-search-list">
                        <div class="list-product-recomment">
                            @@include('product.html')
                            @@include('product.html')
                            @@include('product.html')
                        </div>
                    </div>
                </div>
                <div class="right-mainheader">
                    <ul class="list-action">
                        <li>
                            <a href="">
                                <i class="icon icon-comment"></i>
                                <span class="name">Đóng góp ý kiến</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="icon icon-notifi"></i>
                                <span class="badge">10</span>
                                <span class="name">Thông báo</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="icon icon-cart"></i>
                                <span class="badge">0</span>
                                <span class="name">Giỏ hàng</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="icon icon-user"></i>
                                <span class="name">Tài khoản</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->