<div class="item-news">
    <div class="box-news">
        <div class="thumb-art">
            <div class="thumb thumb-news">
                <a href=""><img src="assets/images/banner.jpg" alt="" /> </a>
            </div>
        </div>
        <div class="right-content">
            <div class="flex-cat">
                <a href="" class="cat-tag cat-dochoi">Đồ chơi</a>
                <a href="" class="cat-tag cat-goiy">Gợi ý </a>
                <span class="time">
                    <i class="icon icon-time"></i>
                    19/02/2020
                </span>
            </div>
            <h2 class="title-news">
                <a href="">Top những đồ chơi cho trẻ 7 tháng tuổi hữu ích nhất
                    hiện nay</a>
            </h2>
            <p class="description">Đồ chơi cho bé không chỉ là một phương tiện giải trí, mà còn là
                công cụ hỗ trợ phát triển toàn diện cho bé.Hulo Toys cung cấp đa dạng các loại đồ
                chơi như đồ chơi nhựa, lego, đồ chơi lắp ráp, đồ chơi điều khiển từ xa, và đồ chơi
                nhập vai...</p>
            <a href="" class="xemthem">Đọc tiếp</a>
        </div>
    </div>
</div>