<div class="item-news">
    <div class="box-news">
        <div class="thumb-art">
            <div class="thumb thumb-news">
                <a href=""><img src="assets/images/banner.jpg" alt="" /> </a>
            </div>
        </div>
        <div class="right-content">
            <div class="flex-cat">
                <span class="time">
                    <i class="icon icon-time"></i>
                    19/02/2020
                </span>
                <a href="" class="cat-tag">Đồ chơi</a>
                <a href="" class="cat-tag">Gợi ý </a>
            </div>
            <h2 class="title-news">
                <a href="">Top những</a>
            </h2>
            <p class="description">Đồ chơi </p>
            <a href="" class="xemthem">Đọc tiếp</a>
        </div>
    </div>
</div>