<div class="menu-left-user">
    <div class="header-user">
        <div class="avatar">
            <img src="assets/images/product.jpg" alt="" />
        </div>
        <div class="box-name">
            <span class="sayhi">Xin chào bạn</span>
            <h3 class="name">Lê Văn Cường</h3>
        </div>
    </div>
    <div class="list-tab-menu">
        <ul>
            <li class="sub-menu">
                <span><i class="icon icon-user-base"></i> Thông tin tài khoản </span>
                <ul>
                    <li><a href="">Hồ sơ</a></li>
                    <li><a href="">Địa chỉ</a></li>
                    <li><a href="">Đổi mật khẩu</a></li>
                </ul>
            </li>
            <li class="active">
                <a href=""><i class="icon icon-order"></i>Đơn hàng của tôi</a>
            </li>
            <li class="sub-menu">
                <span><i class="icon icon-notifi-base"></i>Thông báo</span>
                <ul>
                    <li class="active"><a href="">Đơn hàng</a></li>
                    <li><a href="">Khuyến mãi</a></li>
                </ul>
            </li>
            <li>
                <a href=""><i class="icon icon-like"></i>Sản phẩm yêu thích</a>
            </li>
        </ul>
    </div>
</div>