<div class="item-product">
    <a href="">
        <div class="box-thumb">
            <div class="thumb-product">
                <img src="./assets/images/product.jpg" alt="" />
            </div>
        </div>
        <div class="box-info">
            <h3 class="name-product">Đồ Chơi Lắp Ráp Tàu Vũ Trụ Lele Brother, Xếp Hình Cho Bé Từ 6 Tuổi</h3>
            <div class="flex-price">
                <div class="price-sale">689,098đ</div>
                <div class="review">4.8<i class="icon icon-star"></i><span class="total-review">(322)</span></div>
            </div>
            <div class="price-old">So với giá cũ 767,009đ <i class="icon icon-info"></i>
                <div class="info-detail">Giá sản phẩm <b>rẻ nhất</b> của đơn vị khác
                    được Hulo Toys nghiên cứu trên <b>mọi nền tảng</b></div>
            </div>
        </div>
    </a>
</div>