<div class="siderbar-news">
    <div class="box-side">
        <img src="assets/images/banner-tt.png" alt="" />
    </div>
    <div class="box-side">
        <h3 class="title">
            XEM NHIỀU NHẤT
        </h3>
        <div class="list-news">
            @@include('item-news.html')
            @@include('item-news.html')
            @@include('item-news.html')
            @@include('item-news.html')
            @@include('item-news.html')
            @@include('item-news.html')
        </div>
    </div>
    <div class="box-side">
        <h3 class="title">
            SẢN PHẨM KHUYẾN MÃI
        </h3>
        <div class="list-product">
            <div class="item-product">
                <a href="">
                    <div class="box-thumb">
                        <div class="thumb-product">
                            <img src="./assets/images/product.jpg" alt="" />
                        </div>
                    </div>
                    <div class="box-info">
                        <h3 class="name-product">Mũ bảo vệ đầu cho bé Hulo Toys 100% Cotton</h3>
                        <div class="review">
                            <span>
                                4.8<i class="icon icon-star"></i>
                            </span>
                            <span class="total-review">Đã bán 323</span>
                        </div>
                        <div class="flex-price">
                            <div class="price-sale">689,098đ</div>
                            <div class="price-old">789,098đ</div>
                            <div class="percent">65%</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-product">
                <a href="">
                    <div class="box-thumb">
                        <div class="thumb-product">
                            <img src="./assets/images/product.jpg" alt="" />
                        </div>
                    </div>
                    <div class="box-info">
                        <h3 class="name-product">Mũ bảo vệ đầu cho bé Hulo Toys 100% Cotton</h3>
                        <div class="review">
                            <span>
                                4.8<i class="icon icon-star"></i>
                            </span>
                            <span class="total-review">Đã bán 323</span>
                        </div>
                        <div class="flex-price">
                            <div class="price-sale">689,098đ</div>
                            <div class="price-old">789,098đ</div>
                            <div class="percent">65%</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>