<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hulotoys</title>
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/select2.min.css">
    <link rel="stylesheet" href="assets/css/lightgallery-bundle.css" />
    <link rel="stylesheet" href="assets/css/main.min.css">
</head>

<body>
    @@include('./partial/header.html')

    <main>
        <%= contents %>
    </main>

    @@include('./partial/footer.html')
    <button class="backToTopBtn"></button>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/lightgallery.min.js"></script>
    <!-- video lightgallery-->
    <script src="assets/js/video.min.js"></script>
    <script src="assets/js/lightgallery.umd.js"></script>
    <script src="assets/js/lg-video.umd.js"></script>
    <!-- end video lightgallery-->
    <script src="assets/js/lg-thumbnail.min.js"></script>
    <script src="assets/js/common.js"></script>

</body>

</html>