@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

body,
html {
    background: #F5F5F5;
    color: #1F2549;
    padding: 0;
    line-height: 1.4;
    font-size: 16px;
    margin: 0;
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img,
iframe {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #1F2549;
}

input {
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    border: none;
    outline: none;
    color: #1F2549;
    padding-left: 25px;
    padding-right: 25px;
}

.form-control {
    border-radius: 24px;
    border: 1px solid #EBEBEB;
}

button,
.btn {
    border: none;
    outline: none;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    padding: 0 10px;
    font-weight: 500;
    border-radius: 24px;

    &.btn-base {
        background: #343E7A;
        color: #FCFCFC;
    }
}

.container {
    width: 100%;
    max-width: 1710px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.wrap-paging {
    margin: 40px 0;
    margin-left: auto;

    @media (max-width:767px) {
        margin: 20px;
    }

    .pagination {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: end;

        @media (max-width:767px) {
            display: none;
        }

        .page {
            font-size: 16px;
            font-weight: 500;
            display: inline-block;
            line-height: 40px;
            text-align: center;
            width: 40px;
            height: 40px;
            background: #FCFCFC;
            box-shadow: 0px 4px 30px 0px #3629B712;
            box-shadow: 4px 0px 8px 0px #3629B714;
            border-radius: 50%;

            a {
                color: #2A3262;
                display: block;
            }

            .icon {
                width: 40px;
                height: 40px;
                padding: 8px;
            }

            &.active {
                background: #2A3262;

                a {
                    color: #fff
                }

            }

            &.disabled {
                opacity: 0.6;
            }


        }
    }

    .xemthem {
        width: 100%;
        background: #1F2549;
        color: #FCFCFC;
        text-align: center;
        height: 40px;
        border-radius: 24px;
        line-height: 40px;
        display: none;

        @media (max-width:767px) {
            display: block;
        }
    }
}

// popup
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(36, 36, 36, 0.4);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 10;

    &:target {
        visibility: visible;
        opacity: 1;
    }
}

.section-flashsale,
.section-categories,
.section-category,
.section-banner,
.section-product,
.section-news {
    margin-top: 40px;
    margin-bottom: 40px;

    @media (max-width:767px) {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.thumb {
    display: block;
    overflow: hidden;
    height: 0;
    position: relative;
    width: 100%;
    background: #f4f4f4;

    &.thumb-news {
        padding-bottom: 60%;
    }

    img {
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.popup {
    margin: 70px auto;
    padding: 40px;
    background: #FCFCFC;
    border-radius: 15px;
    width: 100%;
    max-width: 690px;
    position: relative;
    transition: all 0.5s ease-in-out;

    @media (max-width:767px) {
        max-width: 95%;
        padding: 15px;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        transition: all 200ms;
    }
}

.cat-tag {
    box-shadow: 0px 4px 30px 0px #3629B712;
    box-shadow: 4px 0px 8px 0px #3629B714;
    padding: 4px 10px;
    border-radius: 16px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    border: 1px solid transparent;

    &.cat-tatca {
        background: #FFDD87;
        color: #62590F;

        &.active {
            border-color: #62590F;
        }
    }

    &.cat-moinhat {
        background: #FFCEE9;
        color: #7F1D5E;

        &.active {
            border-color: #7F1D5E;
        }
    }

    &.cat-dochoi {
        background: #CEFFEB;
        color: #116455;

        &.active {
            border-color: #116455;
        }
    }

    &.cat-goiy {
        background: #CEE5FF;
        color: #1D677F;

        &.active {
            border-color: #1D677F;
        }
    }

    &.cat-chamtre {
        background: #CFCEFF;
        color: #541D7F;

        &.active {
            border-color: #541D7F;
        }
    }
}

.list-news {
    @media (max-width:991px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    @media (max-width:767px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .item-news {
        margin-bottom: 25px;
        background: #FCFCFC;
        box-shadow: 0px 4px 30px 0px #3629B712;
        border-radius: 16px;
        box-shadow: 4px 0px 8px 0px #3629B714;

        @media (max-width:1200px) {
            margin-bottom: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        .box-news {
            display: flex;
            align-items: start;

            @media (max-width:1200px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width:991px) {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 0;
            }
        }

        .thumb-art {
            width: calc(100%/3);
            border-radius: 16px;
            overflow: hidden;
            min-width: calc(100%/3);

            @media (max-width:1200px) {
                width: 100%;
            }
        }

        .title-news {
            font-size: 16px;
            font-weight: 700;
            color: #242424;
        }

        .description {
            font-size: 16px;
            color: #616161;
            margin-top: 10px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            word-break: break-word;
            overflow: hidden;
            -webkit-box-orient: vertical;

            @media (max-width:1680px) {
                -webkit-line-clamp: 2;
            }

            @media (max-width:991px) {
                -webkit-line-clamp: inherit;
            }
        }

        .right-content {
            padding: 10px 20px;

            @media (max-width:1680px) {
                padding: 10px 15px;
            }
        }


        .flex-cat {
            display: flex;
            align-items: center;
            gap: 5px;
            row-gap: 10px;
            margin-bottom: 10px;

            @media (max-width:991px) {
                flex-wrap: wrap;
            }

            .time {
                display: flex;
                align-items: center;
                gap: 5px;
                color: #919191;
                font-size: 13px;
                font-weight: 400;

                .icon {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .xemthem {
            color: #FD5023;
            font-size: 13px;
            margin-top: 10px;
            display: block;

            &::after {
                content: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.7729 9.39792L7.14792 15.0229C7.09565 15.0752 7.03361 15.1166 6.96533 15.1449C6.89704 15.1732 6.82386 15.1878 6.74995 15.1878C6.67604 15.1878 6.60285 15.1732 6.53457 15.1449C6.46628 15.1166 6.40424 15.0752 6.35198 15.0229C6.29972 14.9707 6.25826 14.9086 6.22998 14.8403C6.20169 14.772 6.18713 14.6989 6.18713 14.6249C6.18713 14.551 6.20169 14.4779 6.22998 14.4096C6.25826 14.3413 6.29972 14.2792 6.35198 14.227L11.5797 8.99995L6.35198 3.77292C6.24643 3.66737 6.18713 3.52421 6.18713 3.37495C6.18713 3.22568 6.24643 3.08253 6.35198 2.97698C6.45753 2.87143 6.60068 2.81213 6.74995 2.81213C6.89921 2.81213 7.04237 2.87143 7.14792 2.97698L12.7729 8.60198C12.8252 8.65422 12.8667 8.71626 12.895 8.78454C12.9233 8.85283 12.9379 8.92603 12.9379 8.99995C12.9379 9.07387 12.9233 9.14706 12.895 9.21535C12.8667 9.28364 12.8252 9.34567 12.7729 9.39792Z" fill="%23FD5023"/></svg>');
                position: relative;
                top: 5px;
            }
        }
    }
}

.section-news-detail {
    .content {
        .thumb-art {
            .thumb-news {
                border-radius: 16px;
                padding-bottom: 45%;
            }

            margin-bottom: 30px;
        }

        .title-news {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 15px;
        }

        .flex-cat {
            margin-bottom: 10px;

            .cat-tag {
                margin-right: 10px;
            }
        }

        .details {
            font-size: 16px;

            p {
                margin-bottom: 15px;
            }

            img {
                margin: auto;
                margin-bottom: 15px;
                max-width: 600px;
                width: 100%;
            }

            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-bottom: 15px;
            }
        }
    }

}

.number-input {
    border: 2px solid #ddd;
    display: inline-flex;
}

.number-input,
.number-input * {
    box-sizing: border-box;

    input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    input[type=number] {
        font-family: sans-serif;
        max-width: 5rem;
        padding: .5rem;
        border: solid #ddd;
        border-width: 0 2px;
        font-size: 2rem;
        height: 3rem;
        font-weight: bold;
        text-align: center;
    }

    button {
        outline: none;
        -webkit-appearance: none;
        background-color: transparent;
        border: none;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        margin: 0;
        position: relative;

        &:before,
        &:after {
            display: inline-block;
            position: absolute;
            content: '';
            width: 1rem;
            height: 2px;
            background-color: #212121;
            transform: translate(-50%, -50%);
        }

        &.plus:after {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }
}

.checkbox {
    width: 18px;
    height: 18px;
}